body {
    background-color:white;
}

.div1 {
    word-spacing: 30px;
    margin-right: 70px;
    padding-inline-start: 550px;
    /* position: fixed; */
}

.a0 {
    color: black;
    text-decoration: none;
}

.b1 {
background-color:#e03131;
color: white;
width: 100px;
height: 50px;
font-family: sans-serif;
}

.head1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: sans-serif;
}

.p1 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    
}

.a1 {
    color: red;
    text-decoration: none;
   font-size: 15px;
    
}

/* .p2 {
    font-family: sans-serif;
    color: black;
    font-weight: 900;
    padding-inline-start: 250px;
} */

.p3 {
    color: black;
    font-family: sans-serif;
    padding-inline-start: 250px;
    word-spacing: 10px;
}

.h2 {
    font-family: sans-serif;
    color: black;
    font-weight: 900;
    padding-inline-start: 250px;
}

.div2 {
    border: 4px solid rgba(245, 245, 245, 0.712);
    width: 700px;
    height: 200px;
    margin-inline-start: 250px;
    font-size:25px;
}

.lab {
    padding-inline-start: 20px;
    font-family: sans-serif;
}

.input1 {
    width: 500px;
    height: 50px;
    font-family: sans-serif;
    margin-inline-start:  20px;
}

.img1 {
    width: 20px;
    margin-top: 0%;
  }